<head>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
  <title>) showBob (</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  {{> menu }}  

  {{#if currentUser }}

    {{> Template.dynamic template=Page }}

  {{ else }}

    {{> login }}

  {{/if}}

</body>

<template name="menu">
  <style>
    ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    ul.topnav li {float: left;  margin-bottom: 1rem;}

    ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
    }

    ul.topnav li a:hover {background-color: #555;}

    ul.topnav li.icon {display: none;}

    @media screen and (max-width:680px) {
      ul.topnav li:not(:first-child) {display: none;}
      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }
    }

    @media screen and (max-width:680px) {
      ul.topnav.responsive {position: relative;}
      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      ul.topnav.responsive li {
        float: none;
        display: inline;
      }
      ul.topnav.responsive li a {
        display: block;
        text-align: left;
      }
    }
  </style>

  <ul class="topnav" id="menu">
    {{#if currentUser }}
      <li><a id="signout" href="#signout" class="logout"><i class="fa fa-power-off"></i></a></li>
      <li><strong><a id="home" href="#home" class="link {{#if equals (Session 'Page') 'home'}}red{{/if}}">{{ currentUser.profile.name }}</a></strong></li>
      {{#each options}}
      <li><a id="{{ . }}" href="#{{ . }}" class="link {{#if equals (Session 'Page') . }}aqua{{/if}}">{{ initcaps . }}</a></li>
      {{/each}}
    {{else}}
      <li><a id="#login" href="#login" class='login'>Sign In</a></li> 
      <li><a id="#forgot" href="#forgot" class="forgotPassword">Reset Password</a></li>
    {{/if}}
    <li class="icon">
      <a href="#">&#9776;</a>
    </li>
  </ul>

  <script>
  
  </script>
</template>

<template name='login'>
  <style>
  #login {
    margin: 1rem auto 1px auto;
  }
  </style>

  <div id='login' class='page container' style='text-align: center;'>
    {{> loginButtons }}
  </div>

</template>

<template name='home'>
  <div id='home' class='page container'>

    <h5 class='red'>Manage your account</h5>

    <div class='row' style="padding-left:1em;">

      <div class="six columns">
        <label>
          <div class='overlay' style="background:url('{{avatar}}') no-repeat; margin-left:25%;">
            <div>{{{ fitText user.name }}}</div>
          </div>
          <input id="avatar" type="file" style="display:none">
        </label>
      </div>

      <div class="six columns">
        <form>
          <table>
          {{#each field in form }}
            <tr>
              <td>
                <label for="{{ field.id }}">{{ initcaps field.id }}</label>        
              </td>
              <td>
                {{#if equals field.type 'date' }}
                <input id="{{ field.id }}" class="field" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" placeholder="{{ field.value }}" value="{{ field.value }}">
                {{else}}
                <input id="{{ field.id }}" class="field" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </table>
        </form>
      </div>

    </div>
    <hr>
    <div class='row' style="padding:1em;">

      <div class="six columns">
        <div class="six columns">
          <h5 class='brown'>Teams</h5>
        </div>
        <div class="six columns">
          <button id='team'>
            New Team
            <i class="fa fa-plus" style='color:green;'></i>
          </button>
        </div>
        <ol style="{{ scrollbar 30 teams.length 5 }}">
        {{#each team in teams}}
          {{#if equals (Session 'Team') @index }}
          <li id='{{ @index }}' class='red team'>{{ team.name }}</li>
          {{ else }}
          <li id='{{ @index }}' class='team'>{{ team.name }}</li>
          {{/if}}
        {{/each}}
        </ol>
      </div>      
 
      <div class="six columns">
        <div class="six columns">
          <h5 class='brown'>Exams</h5>
        </div>
        <div class="six columns">
          <button id='project'>
            New Exam  
            <i class="fa fa-plus" style='color:green;'></i>
          </button>
        </div>
        <ol style="{{ scrollbar 30 exams.length 5 }}">
        {{#each exam in exams}}
          {{#if equals (Session 'Project') @index }}
          <li id='{{ @index }}' class='red exam'>{{ exam.name }}</li>
          {{ else }}
          <li id='{{ @index }}' class='exam'>{{ exam.name }}</li>
          {{/if}}
        {{/each}}
        </ol>
      </div>      

   </div>

  </div>

</template>

<template name='team'>
  <div id='team' class='page container'>

    <h5 class='red'>Manage your team</h5>

    <div class='row' style="padding-left:1em;">

      <div class="six columns">

        <div class="six columns" style="margin:0">
          <h5 class='brown'>Group</h5>
        </div>
        <div class="six columns">
          <button id='delgrp'>
            Delete Group 
            <i class="fa fa-trash" style='color:red;'></i>
          </button>
        </div>

        <form>
          <table>
          {{#each field in form }}
            <tr>
              <td>
                <label for="{{ field.id }}">{{ initcaps field.id }}</label> 
              </td>
              <td>
                {{#if equals field.type 'date' }}
                <input id="{{ field.id }}" class="field" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" placeholder="{{ field.value }}" value="{{ field.value }}">
                {{else}}
                <input id="{{ field.id }}" class="field" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </table>
        </form>

        <div class="six columns" style="margin:0">
          <h5 class='brown'>Member</h5>
        </div>
        <div class="six columns">
          <button id='delusr'>
            Delete Member 
            <i class="fa fa-trash" style='color:red;'></i>
          </button>
        </div>

        <form>
          <table>
          {{#each field in member }}
            <tr>
              <td>
                <label for="{{ field.id }}">{{ initcaps field.id }}</label> 
              </td>
              <td>
                {{#if equals field.type 'date' }}
                <input id="{{ field.id }}" class="member" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" placeholder="{{ field.value }}" value="{{ field.value }}">
                {{else}}
                <input id="{{ field.id }}" class="member" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </table>
        </form>
      </div>

      <div class="six columns">
        <div class="six columns">
          <h5 class='brown'>Members</h5>
        </div>
        <div class="six columns">
          <button id='member'>
            New Member
            <i class="fa fa-plus" style='color:green;'></i>
          </button>
        </div>
        <ol style="{{ scrollbar 60 members.length 15 }}">
        {{#each dude in members}}
          {{#if equals (Session 'Name') @index }}
          <li id='{{ @index }}' class='red team'>{{ dude.name }}</li>
          {{ else }}
          <li id='{{ @index }}' class='team'>{{ dude.name }}</li>
          {{/if}}          
        {{/each}}
        </ol>
      </div>      
    </div>

    {{#if members.length }}
    <div class='row tiny' style="padding-left:1em;text-align:center;margin-top:-5%;">
      anodyne solutions &copy; 2016
    </div>
    {{ else }}
    <div class='row tiny' style="padding-left:1em;text-align:center;margin-top:-5%;">
      You have no teams. Click 'New team'.
    </div>
    {{/if}}

  </div>
</template>

<template name='exam'>

  <div id='exam' class='page container'>
    <h5 class='red'>Edit your project</h5>

    <div class='row' style="padding-left:1em;">

      <div class="six columns">
        <div class="six columns">
          <h5 class='brown'>Exam</h5>
        </div>
        <div class="six columns">
          <button id='delete'>
            Delete Exam 
            <i class="fa fa-trash" style='color:red;'></i>
          </button>
        </div>
        <form>
          <table>
          {{#each field in form }}
            <tr>
              <td>
                <label for="{{ field.id }}">{{ initcaps field.id }}</label> 
              </td>
              <td>
                {{#if equals field.type 'date' }}
                <input id="{{ field.id }}" class="field" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" placeholder="{{ field.value }}" value="{{ field.value }}">
                {{else}}
                <input id="{{ field.id }}" class="field" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </table>
        </form>
      </div>

      <div class="six columns">
        <div class="six columns">
          <h5 class='brown'>Questions</h5>          
        </div>
        <div class="six columns">
          <button id='new'>
            New Question
            <i class="fa fa-plus" style='color:green;'></i>
          </button>
        </div>
        <ol style="{{ scrollbar 60 questions.length 15 }}">
        {{#each card in questions}}
          {{#if equals (Session 'Item') @index }}
          <li id='{{ @index }}' class='red item'>{{ card.topic }}</li>
          {{ else }}
          <li id='{{ @index }}' class='item'>{{ card.topic }}</li>
          {{/if}}          
        {{/each}}
        </ol>
      </div>      

    </div>
    
    {{#if questions.length }}
    <div class='row tiny' style="padding-left:1em;text-align:center;margin-top:-5%;">
      anodyne solutions &copy; 2016
    </div>
    {{ else }}
    <div class='row tiny' style="padding-left:1em;text-align:center;margin-top:-5%;">
      You have no exams. Click 'New exam'.
    </div>
    {{/if}}

  </div>
</template>

<template name='edit'>
  <style>
    #frame {
      padding:0 1% 0 1%;
    }

    #toolbar a {
      margin:.25em;
      padding: 8px;
    }

    #question {
      white-space:pre-wrap; 
      display:block;
      height: 35vh;
      resize:both;
      overflow: auto; 
      font-size:.75em;
    }  

    #question div {
      margin:auto;
    }

    .centered {
      margin:auto;
      height:25rem;
    }

    .card { padding-top:1px; }
    .answer { display:inline;}
  </style>

  
  <div id='edit' class='page container'>

    <h5 id="{{ Session 'Project' }}" class='red exam'>← Design your {{ project.course }} {{ project.name }} project</h5>

    <div class='row'>

      <div id='frame'>
        {{#each card in questions }}
          {{#if equals (Session 'Item') @index }}

            <div id='toolbar' class='card'>
              <a id='back' title='Back' class="circle on-brown fa fa-arrow-circle-left"> </a>
              <a id='trash' title='Dump' class="circle on-brown fa fa-trash"> </a>
              <a id='swap' title='Swap' class="circle on-brown fa fa-exchange"> </a>
              {{#if Session 'showCode'}}
              <a id='html' title='Code' class="circle on-red fa fa-eye"></a>
              {{ else }}
              <a id='html' title='Code' class="circle on-brown fa fa-eye"> </a>
              {{/if}}
              <a id='cogs' title='More' class="circle on-brown fa fa-cog"> </a>
              <a id='new' title='New' class="circle on-brown fa fa-plus"></a>
              <a id='next' title='Next' class="circle on-brown fa fa-arrow-circle-right pull-right"></a>
              <span style='margin:calc(100% / 8);'>{{ offset @index }} / {{ questions.length }}</span>
            </div>

            <input type='text' class='card' id='topic' value='{{ card.topic }}' placeholder='Topic'>

            {{#if Session 'showCode'}}
              <div id='question' class='card' contenteditable >{{ card.question }}</div>
            {{else}}
              <div id='question' class='card' contenteditable >{{{ card.question }}}</div> 
            {{/if}} 

            <input type='text' class='card' id='title' value='{{ card.title }}' placeholder='Title'>

            <div id='answers' class='card'>
              <style>
                .delete  {
                  display:none;
                }
                li:hover .delete {
                  display:inline;
                }
              </style>
              <ul style='list-style:none; margin-top:1em;'>
                {{#each answer in card.answers }}
                <li>
                  <label>
                    <input type='number' style='width:15%' class='answer' id='{{ @index }}' name='points' value='{{ answer.points }}' min="0">
                    <input type='text' style='width:80%' class='answer' id='{{ @index }}' name='option' value='{{ answer.option }}'>
                    <i id='{{ @index }}' class="delete fa fa-trash"></i>
                  </label>
                </li>
                {{/each}}
                <label>
                  <input type='number' style='width:15%' class='answer' id='new__pts' name='points' min="0">
                  <input type='text' style='width:80%' class='answer' id='new__text' name='option'>
                </label>
              </ul>
            </div>

          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</template>

<template name='cogs'>
  <style>
    #frame {
      padding:1%;
    }

    #toolbar a {
      margin:.25em;
      padding: 8px;
    }
  </style>

  
  <div id='cogs' class='page container'>

    <h5 id="{{ Session 'Project' }}" class='red exam'>← Edit your {{ project.course }} {{ project.name }} project</h5>

    <div class='row'>

      <div id='frame'>
        {{#each card in questions }}
          {{#if equals (Session 'Item') @index }}

            <div id='toolbar' class='card'>
              <a id='_back' title='Back' class="circle on-brown fa fa-arrow-circle-left"> </a>
              <a id='trash' title='Dump' class="circle on-brown fa fa-trash"> </a>
              <a id='swap' title='Swap' class="circle on-brown fa fa-exchange"> </a>
              <a id='no-html' title='Code' class="circle light-grey on-grey fa fa-eye"></a>
              <a id='edit' title='More' class="circle on-brown fa fa-pencil"> </a>
              <a id='new' title='New' class="circle on-brown fa fa-plus"></a>
              <a id='_next' title='Next' class="circle on-brown fa fa-arrow-circle-right pull-right"></a>
              <span style='margin:calc(100% / 8);'>{{ offset @index }} / {{ questions.length }}</span>
            </div>

            <div class='card' id='_topic'>{{ card.topic }}</div>

            <div class='row' style="padding-left:1em;">
              <div class="six columns" style="margin:0">
                <h5 class='brown'>Settings</h5>
                <form>
                  <table>
                  {{#each field in form }}
                    <tr>
                      <td>
                        <label for="{{ field.id }}">{{ initcaps field.id }}</label> 
                      </td>
                      <td>
                        {{#if equals field.type 'date' }}
                        <input id="{{ field.id }}" class="field" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" placeholder="{{ field.value }}" value="{{ field.value }}">
                        {{else}}
                          {{#if equals field.type 'boolean'}}
                          <input id="{{ field.id }}" class="field" type="checkbox" {{ field.checked }} >
                          {{ else }}
                          <input id="{{ field.id }}" class="field" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
                          {{/if}}
                        {{/if}}
                      </td>
                    </tr>
                  {{/each}}
                  </table>
                </form>
              </div>
              <div class="six columns">
                <button id='delset'>
                  Reset default 
                  <i class="fa fa-trash" style='color:red;'></i>
                </button>
                <form>
                  <table>
                  {{#each field in multi }}
                    <tr>
                      <td>
                        <label for="{{ field.id }}">{{ initcaps field.id }}</label> 
                      </td>
                      <td>
                        {{#if equals field.type 'date' }}
                        <input id="{{ field.id }}" class="field" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" placeholder="{{ field.value }}" value="{{ field.value }}">
                        {{else}}
                          {{#if equals field.type 'boolean'}}
                          <input id="{{ field.id }}" class="field" type="checkbox" {{ field.checked }} >
                          {{ else }}
                          <input id="{{ field.id }}" class="field" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
                          {{/if}}
                        {{/if}}
                      </td>
                    </tr>
                  {{/each}}
                  </table>
                </form>
              </div>
            </div>

          {{/if}}
        {{/each}}
      </div>

    </div>


  </div>
</template>

<template name='test'>
  <style>
    #frame {
      padding:1%;
    }

    #toolbar a {
      margin:.25em;
      padding: 8px;
      height:2.5rem;
    }

    #question {
      white-space:pre-wrap; 
      display:block;
      height: 35vh;
      resize:both;
      overflow: auto; 
      font-size:.75em;
    }  

    #question div {
      margin:auto;
    }

    .centered {
      margin:auto;
      height:25rem;
    }

    #question img {
      margin:auto;
      height:25rem;
    }

    #title {
      text-align: center;
    }

    .answer { display:inline;}
  </style>

  
  <div id='test' class='page container'>

    
    <div class='row'>
      <div class="ten columns">
        <h5 id="{{ Session 'Project' }}" class='red exam'>Check {{ project.course }} {{ project.name }}</h5>
      </div>
      <div class="two columns">
        <button id='clock'>
          {{ nao }} 
          <i class="fa fa-clock-o" style='color:green;'></i>
        </button>
      </div>
    </div>
            
    <div class='row'>

      <div id='frame'>

        {{#each card in questions }}
          {{#if equals (Session 'Item') @index }}

            {{#if settings.topic }}
            <div class='card float-center' id='topic'>{{ card.topic }}</div>
            {{/if}}
            
            <div id='toolbar' style='height:3em' class='card'>
              {{#if settings.back }}
                {{#if equals @index 0 }}
                <!-- at first -no back -->
                {{ else }}
                <a id='back' class="circle on-brown fa fa-arrow-circle-left"> </a>
                {{/if}}
              {{/if}}
              {{#if settings.next }}
                {{#if equals (offset @index) questions.length }}
                <a id='done' class="circle on-brown fa fa-flag-checkered pull-right"></a>
                {{ else }}
                <a id='next' class="circle on-brown fa fa-arrow-circle-right pull-right"></a>
                {{/if}}
              {{/if}}
              <div style='text-align:center;width:95%;'>{{ offset @index }} of {{ questions.length }}</div>
            </div>

            <div id='question' class='card'>{{{ card.question }}}</div> 
            <p id='title' class='card'>{{ card.title }}</p>

            <div id='answers' class='card'>
              <style>
                .select  {
                  color:whitesmoke;
                }
                li:hover .select {
                  color:green;
                }
                .selected  {
                  color:darkgreen;
                }
              </style>
              <ul style='list-style:none; margin-top:1em;'>
                {{#each answer in card.answers }}
                <li class='option'>
                  <label>
                    <i id='{{ @index }}' style='width:8%;text-align:center;' class="{{ selected @index }} fa fa-check">  </i>
                    <div class='answer' id='{{ @index }}' name='option'>{{ answer.option }}</div>
                  </label>
                </li>
                {{/each}}
              </ul>
            </div>

          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</template>

<template name='done'>
  <div id='done' class='page container'>
    
    <div class='row'>
      <div class="ten columns">
        <h5 id="{{ Session 'Project' }}" class='red exam'>{{ project.course }} {{ project.name }}</h5>
      </div>
    </div>
            
    <div class='row'>

      <div id='stars' style="margin:25%">
        You scored:
        <h1>{{ score }} out of {{ total }}.</h1>
        <hr>
      </div>

    </div>
  </div>
</template>

<template name='push'>
  <div id='test' class='page container'>

    <div class='row'>
      <div class="ten columns">
        <h5 id="{{ Session 'Test' }}" class='red test'>Send your exam</h5>
      </div>
      <div class="two columns">
        <button id='send'>
          Send
          <i class="fa fa-paper-plane-o" style='color:green;'></i>
        </button>
      </div>
    </div>

    
    <div class='row' style="padding-left:1em;">
    
      <div class="six columns">
      
        <div class="six columns" style="margin:0">
          <h5 class='brown'>Test</h5>
        </div>
        <div class="six columns">
          <button id='deltst'>
            Delete Test 
            <i class="fa fa-trash" style='color:red;'></i>
          </button>
        </div>

        <form>
          <table>
            <tr>
              <td>
                <label for="name">Name</label> 
              </td>
              <td>
                <input id="name" class="field" type="text" placeholder="Name" value="{{ test.name }}">
              </td>
            </tr>
            <tr>
              <td>
                <label for="project">Exam</label> 
              </td>
              <td>
                <input list='projectList' id="exam" class="field" type="text" placeholder="Project" value="{{ test.exam }}">
                <datalist id="projectList">
                  {{#each item in projects}}
                  <option value="{{ item }}"></option>
                  {{else}}
                  <option value="Enter project"></option>
                  {{/each}}
                </datalist>                
              </td>
            </tr>
            <tr>
              <td>
                <label for="team">Team</label> 
              </td>
              <td>
                <input list='teamList' id="team" class="field" type="text" placeholder="Team" value="{{ test.team }}">
                <datalist id="teamList">
                  {{#each item in teams}}
                  <option value="{{ item }}"></option>
                  {{else}}
                  <option value="Enter team"></option>
                  {{/each}}
                </datalist>            
              </td>
            </tr>
          {{#each field in form }}
            <tr>
              <td>
                <label for="{{ field.id }}">{{ initcaps field.id }}</label> 
              </td>
              <td>
                {{#if equals field.type 'date' }}
                <input id="{{ field.id }}" class="field" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" value="{{ field.value }}">
                {{else}}
                  {{#if equals field.type 'boolean'}}
                  <input id="{{ field.id }}" class="field" type="checkbox" {{ field.checked }} >
                  {{ else }}
                  <input id="{{ field.id }}" class="field" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
                  {{/if}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </table>
        </form>
      
      </div>
      
      <div class="six columns">
        <div class="six columns">
          <h5 class='brown'>Tests</h5>
        </div>
        <div class="six columns">
          <button id='new'>
            New Test
            <i class="fa fa-plus" style='color:green;'></i>
          </button>
        </div>
        <ol style="{{ scrollbar 60 tests.length 15 }}">
        {{#each take in tests}}
          {{#if equals (Session 'Test') take._id }}
          <li id='{{ take._id }}' class='red test'>{{ take.name }}<i class="right" style='color:green;'>{{ take.questions.length }}</i></li>
          {{ else }}
          <li id='{{ take._id }}' class='test'>{{ take.name }}<i class="right" style='color:green;'>{{ take.questions.length }}</i></li>
          {{/if}}          
        {{/each}}
        </ol>
      </div>      
    
    </div>

  </div>
</template>

<template name='help'>
  <style>
    .proc {
      padding:1em; 
      font-size: 12px; 
      font-family: Droid Sans Mono;
      min-height:36vh;
    } 
  </style>
  <div id='help' class='page container'>
    <h5 class='red'>Documentation</h5>

    
    <div class='row' style="padding-left:1em">

      <div class='six columns on-sand proc'>    
        {{#each Session 'iostat' }} 
          <xmp>{{ . }}</xmp>
        {{/each}}
      </div>

      <div class='six columns on-light-pink proc'>
      
        {{#each Session 'state' }} 
          <p>{{ . }}</p>
        {{/each}}

        {{#each Session 'message' }} 
          <xmp>{{ . }}</xmp>
        {{/each}}        
      </div>
      
    </div>

    <div class='row tiny' style="padding-left:1em;text-align:center;margin-top:-5%;">
      anodyne solutions &copy; 2016
    </div>
        
  </div>
</template>

<template name='dash'>
  <div id='dash' class='page container'>

    <h5 class='red'>Dashboard</h5>

    <div class='row' style="padding-left:1em;">

      <div class="six columns">

        <div class="six columns" style="margin:0">
          <h5 class='brown'>Tests</h5>
        </div>
        <div class="six columns">
          <button id='archive'>
            Archive 
            <i class="fa fa-download" style='color:red;'></i>
          </button>
        </div>

        <ol style="{{ scrollbar 60 tests.length 10 }}">
        {{#each mark in marks}}
          {{#if equals (Session 'Mark') mark._id }}
          <li id='{{ mark._id }}' class='red test'>
            <a href='#' class='right' id='{{ mark.email }}' title='{{ mark.email }}'><img style="display:inline;border-radius:50%;width:24px;height:24px;" src='{{avatar mark.email}}'/></a>
            &nbsp;{{ mark.name }}
            <i class="right" style='color:green;'>{{ mark.grade }}%&nbsp;&nbsp;</i>
          </li>
          {{ else }}
          <li id='{{ mark._id }}' class='test'>
            <a href='#' class='right' id='{{ mark.email }}' title='{{ mark.email }}'><img style="display:inline;border-radius:50%;width:24px;height:24px;" src='{{avatar mark.email}}'/></a>
            &nbsp;{{ mark.name }}
            <i class="right" style='color:green;'>{{ mark.grade }}%&nbsp;&nbsp;</i>
          </li>
          {{/if}}          
        {{/each}}
        </ol>
        
      </div>

      <div class="six columns">
        <div class="six columns">
          <h5 class='brown'>Marks</h5>
        </div>
        <div class="six columns">
          <button id='delete'>
            Delete 
            <i class="fa fa-trash" style='color:red;'></i>
          </button>
        </div>

        <ol style="{{ scrollbar 60 tests.length 10 }}">
        {{#each answer in tests}}
          <li id='{{ @index }}' class='answer'>{{ answer.option }}
          {{#if enough answer.points}}
            <i class="right fa fa-check" style='color:green;'></i>
          {{ else }}
            <i class="right fa fa-times" style='color:red;'></i>
          {{/if}}
          </li>
        {{/each}}
        </ol>
      </div>

    </div>

    <div class='row tiny' style="padding-left:1em;text-align:center;margin-top:-5%;">
      anodyne solutions &copy; 2016
    </div>

  </div>
</template>
